<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>wii.edu.web.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>CekSession</servlet-name>
        <servlet-class>wii.edu.web.login.CekSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActiveUserAction</servlet-name>
        <servlet-class>wii.edu.web.login.GetActiveUserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAction</servlet-name>
        <servlet-class>wii.edu.web.admin.AdminAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.UserJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FakultasJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.FakultasJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgdiJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.ProgdiJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DosenJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.DosenJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatakuliahJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.MatakuliahJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RuangJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.RuangJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistrikJSON</servlet-name>
        <servlet-class>wii.edu.web.admin.DistrikJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>wii.edu.web.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>wii.edu.web.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AkademikAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.AkademikAction</servlet-class>
    </servlet>
    <servlet><servlet-name>AngkatanJSON</servlet-name><servlet-class>wii.edu.web.akademik.AngkatanJSON</servlet-class></servlet><servlet><servlet-name>SemesterJSON</servlet-name><servlet-class>wii.edu.web.akademik.SemesterJSON</servlet-class></servlet><servlet><servlet-name>DataMahasiswaJSON</servlet-name><servlet-class>wii.edu.web.akademik.DataMahasiswaJSON</servlet-class></servlet>
    <servlet>
        <servlet-name>MahasiswaRegJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.MahasiswaRegJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahasiswaUnregJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.MahasiswaUnregJSON</servlet-class>
    </servlet>
    <servlet><servlet-name>JadwalJSON</servlet-name><servlet-class>wii.edu.web.akademik.JadwalJSON</servlet-class></servlet>
    <servlet>
        <servlet-name>IpsJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.IpsJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IpkJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.IpkJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KstAkademikJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.KstAkademikJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarKelasAkademikJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.DaftarKelasAkademikJSON</servlet-class>
    </servlet>
    <servlet><servlet-name>NilaiJSON</servlet-name><servlet-class>wii.edu.web.akademik.NilaiJSON</servlet-class></servlet>
    <servlet>
        <servlet-name>KelulusanJSON</servlet-name>
        <servlet-class>wii.edu.web.akademik.KelulusanJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DosenAction</servlet-name>
        <servlet-class>wii.edu.web.dosen.DosenAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarKelasJSON</servlet-name>
        <servlet-class>wii.edu.web.dosen.DaftarKelasJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilDosenJSON</servlet-name>
        <servlet-class>wii.edu.web.dosen.ProfilDosenJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahasiswaAction</servlet-name>
        <servlet-class>wii.edu.web.mahasiswa.MahasiswaAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GantiPasswordAction</servlet-name>
        <servlet-class>wii.edu.web.mahasiswa.GantiPasswordAction</servlet-class>
    </servlet>
    <servlet><servlet-name>KhsJSON</servlet-name><servlet-class>wii.edu.web.mahasiswa.KhsJSON</servlet-class></servlet><servlet><servlet-name>KstMahasiswaJSON</servlet-name><servlet-class>wii.edu.web.mahasiswa.KstMahasiswaJSON</servlet-class></servlet>
    <servlet>
        <servlet-name>RegMatakuliahJSON</servlet-name>
        <servlet-class>wii.edu.web.mahasiswa.RegMatakuliahJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAbsensiAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintAbsensiAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAbsensiExcelAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintAbsensiExcelAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKHS</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintKHS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKhsExcelAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintKhsExcelAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKst</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintKst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKstExcelAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintKstExcelAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintTranskripAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintTranskripAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintTranskripExcelAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintTranskripExcelAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintTranskripLulusAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintTranskripLulusAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintTranskripLulusExcelAction</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintTranskripLulusExcelAction</servlet-class>
    </servlet>
    <servlet><servlet-name>TranskripJSON</servlet-name><servlet-class>wii.edu.web.mahasiswa.TranskripJSON</servlet-class></servlet>
    <servlet>
        <servlet-name>PrintDosen</servlet-name>
        <servlet-class>wii.edu.web.admin.printer.PrintDosen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintMatakuliah</servlet-name>
        <servlet-class>wii.edu.web.admin.printer.PrintMatakuliah</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintJadwal</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintJadwal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintMahasiswa</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintMahasiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintMahasiswaUnreg</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintMahasiswaUnreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintMahasiswaReg</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintMahasiswaReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintRuang</servlet-name>
        <servlet-class>wii.edu.web.admin.printer.PrintRuang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintNilai</servlet-name>
        <servlet-class>wii.edu.web.dosen.printer.PrintNilai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintFakultas</servlet-name>
        <servlet-class>wii.edu.web.admin.printer.PrintFakultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintProgdi</servlet-name>
        <servlet-class>wii.edu.web.admin.printer.PrintProgdi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCuti</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintCuti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKeterangan</servlet-name>
        <servlet-class>wii.edu.web.akademik.printer.PrintKeterangan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintDistrik</servlet-name>
        <servlet-class>wii.edu.web.admin.printer.PrintDistrik</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CekSession</servlet-name>
        <url-pattern>/cek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActiveUserAction</servlet-name>
        <url-pattern>/getActiveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAction</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserJSON</servlet-name>
        <url-pattern>/userJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FakultasJSON</servlet-name>
        <url-pattern>/fakultasJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgdiJSON</servlet-name>
        <url-pattern>/progdiJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DosenJSON</servlet-name>
        <url-pattern>/dosenJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatakuliahJSON</servlet-name>
        <url-pattern>/matakuliahJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RuangJSON</servlet-name>
        <url-pattern>/ruangJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistrikJSON</servlet-name>
        <url-pattern>/distrikJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AkademikAction</servlet-name>
        <url-pattern>/akademik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AngkatanJSON</servlet-name>
        <url-pattern>/angkatanJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterJSON</servlet-name>
        <url-pattern>/semesterJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataMahasiswaJSON</servlet-name>
        <url-pattern>/dataMahasiswaJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaRegJSON</servlet-name>
        <url-pattern>/mahasiswaRegJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaUnregJSON</servlet-name>
        <url-pattern>/mahasiswaUnregJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JadwalJSON</servlet-name>
        <url-pattern>/jadwalJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpsJSON</servlet-name>
        <url-pattern>/ipsJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpkJSON</servlet-name>
        <url-pattern>/ipkJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KstAkademikJSON</servlet-name>
        <url-pattern>/kstAkademikJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarKelasAkademikJSON</servlet-name>
        <url-pattern>/daftarKelasAkademikJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NilaiJSON</servlet-name>
        <url-pattern>/nilaiJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KelulusanJSON</servlet-name>
        <url-pattern>/kelulusanJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DosenAction</servlet-name>
        <url-pattern>/dosen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarKelasJSON</servlet-name>
        <url-pattern>/daftarKelasJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilDosenJSON</servlet-name>
        <url-pattern>/profilDosenJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaAction</servlet-name>
        <url-pattern>/mahasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GantiPasswordAction</servlet-name>
        <url-pattern>/gantiPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhsJSON</servlet-name>
        <url-pattern>/khsJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KstMahasiswaJSON</servlet-name>
        <url-pattern>/kstMahasiswaJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegMatakuliahJSON</servlet-name>
        <url-pattern>/regMatakuliahJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TranskripJSON</servlet-name>
        <url-pattern>/transkripJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAbsensiAction</servlet-name>
        <url-pattern>/printAbsensi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAbsensiExcelAction</servlet-name>
        <url-pattern>/printAbsensiExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKHS</servlet-name>
        <url-pattern>/printKhs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKhsExcelAction</servlet-name>
        <url-pattern>/printKhsExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKst</servlet-name>
        <url-pattern>/printKst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKstExcelAction</servlet-name>
        <url-pattern>/printKstExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintTranskripAction</servlet-name>
        <url-pattern>/printTranskrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintTranskripExcelAction</servlet-name>
        <url-pattern>/printTranskripExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintTranskripLulusAction</servlet-name>
        <url-pattern>/printTranskripLulus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintTranskripLulusExcelAction</servlet-name>
        <url-pattern>/printTranskripLulusExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintDosen</servlet-name>
        <url-pattern>/printDosen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintMatakuliah</servlet-name>
        <url-pattern>/printMatakuliah</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintJadwal</servlet-name>
        <url-pattern>/printJadwal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintMahasiswa</servlet-name>
        <url-pattern>/printMahasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintMahasiswaUnreg</servlet-name>
        <url-pattern>/printMahasiswaUnreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>PrintMahasiswaReg</servlet-name><url-pattern>/printMahasiswaReg</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintRuang</servlet-name>
        <url-pattern>/printRuang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintNilai</servlet-name>
        <url-pattern>/printNilai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintFakultas</servlet-name>
        <url-pattern>/printFakultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintProgdi</servlet-name>
        <url-pattern>/printProgdi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCuti</servlet-name>
        <url-pattern>/printCuti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKeterangan</servlet-name>
        <url-pattern>/printKeterangan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintDistrik</servlet-name>
        <url-pattern>/printDistrik</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            cek
    </welcome-file>
    </welcome-file-list>
</web-app>
